<section class="cat-consoles">
    <div class="posicao-consoles">
        <div class="texto-consoles">
            <h3>Consoles</h3>
        </div>
        <div id="espaco-consoles" class="cards-consoles container-grid">
            <div class="card">
                <h3>Playstation 4</h3>
                <div class="icon">
                    <img src="assets/img/imagens/playstation4.png" alt="playstation 4">
                </div>
                <h5>De: R$ 3.599,00</h5>
                <h4>Por: R$ 2.699,00</h4>
                <h6>Em até 10x de R$ 269,90</h6>
                <button>Comprar</button> 
            </div>  
            <div class="card">
                <h3>X box one s</h3>
                <div class="icon">
                    <img src="assets/img/imagens/xbox one s.png" alt="x box one s">
                </div>
                <h5>De: R$ 3.199,00</h5>
                <h4>Por: R$ 2.599,00</h4>
                <h6>Em até 10x de R$ 259,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Playstation 5</h3>
                <div class="icon">
                    <img src="assets/img/imagens/playstation_5.png" alt="playstation 5">
                </div>
                <h5>De: R$ 7.299,00</h5>
                <h4>Por: R$ 6.099,00</h4>
                <h6>Em até 10x de R$ 609,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Nintendo Switch</h3>
                <div class="icon">
                    <img src="assets/img/imagens/nintendo-switch.png" alt="nintendo switch">
                </div>
                <h5>De: R$ 2.399,00</h5>
                <h4>Por: R$ 1.799,00</h4>
                <h6>Em até 10x de R$ 179,90</h6>
                <button>Comprar</button> 
            </div>                    
        </div>
    </div>
</section>
