<header>
    <div class="container-grid">

        <!-- MENU DE BARRAS-->
        <div class="menu-hamburger">
            <a routerLink="#" mat-button [matMenuTriggerFor]="menu"><img class="barras" src="../../../assets/img/imagens/menu-hamburguer.svg" alt="Menu" width="30px"></a>
            <mat-menu #menu="matMenu">
                <a routerLink="celulares" mat-menu-item>Celulares</a>
                <a routerLink="computadores" mat-menu-item>Computadores</a>
                <a routerLink="consoles" mat-menu-item>Consoles</a>
                <a routerLink="acessorios" mat-menu-item>Acessórios</a>
                <a routerLink="pcgamers" mat-menu-item>Pc gamers</a>
            </mat-menu>
            <!-- <a href="#" onclick="mostrarMenu()"><img src="imagens/menu-hamburguer.svg" alt="menu" width="30px"></a> -->
            <!-- <a routerLink="#" id="barras"><img class="barras" src="assets/img/imagens/menu-hamburguer.svg" alt="menu" width="30px"></a>
            <nav id="menu" class="menu">
                <a routerLink="celulares">Celulares</a>
                <a routerLink="computadores">Computadores</a>
                <a routerLink="consoles">Consoles</a>
                <a routerLink="acessorios">Acessórios</a>
                <a routerLink="pcgamers">Pc gamers</a>
            </nav> -->
        </div>

        <!-- LOGO -->
        <div class="logo">
            <a routerLink=""><img src="assets/img/imagens/logo-game-mania.png" alt="logo do site game mania"
                    width="170px"></a>
        </div>

        <!-- LOGIN E CARRINHO -->
        <div class="icones-menu">

            <!-- LOGIN -->
            <div class="login">
                <a routerLink="login"><img src="assets/img/imagens/login.png" alt="login" width="40px"></a>
            </div>

            <!-- CARRINHO -->
            <div class="carrinho">
                <a href="#"><img src="assets/img/imagens/carrinho-de-compras.png" alt="carrinho de compras"
                        width="35px"></a>
            </div>
        </div>
    </div>
</header>