   
    <div class="banner">
        <div class="container-grid posicao-banner">
            <div class="texto-banner">
                <h2>Os melhores jogos estão aqui</h2>
                <a routerLink="jogos"><button>Confira</button></a>
            </div>
        </div>
    </div>
    <!-- FIM DO BANNER -->
    
    <!-- INICIO PRODUTOS EM NOVIDADE -->
    <section class="produtos-novidade">
        <div class="posicao-produtos-novidade">
            <div class="texto-produtos-novidade">
                <h3>Novidades</h3>
            </div>
            <div id="espaco-novidades" class="cards-prod-novidade container-grid">
              
                <div *ngFor="let novidade of listaNovidades" class="card">
                    <h3>{{ novidade.produto }}</h3>
                    <div class="icon">
                        <img src={{novidade.imagem}} alt="">
                    </div>
                    <h5>{{ novidade.precoDe }}</h5>
                    <h4>{{ novidade.precoPor }}</h4>
                    <h6>{{ novidade.prestacao }}</h6>
                    <button>Comprar</button> 
                </div>

                    <!-- <div class="card">
                        <h3>playstation 4</h3>
                        <div class="icon">
                            <img src="assets/img/imagens/playstation4.png" alt="playstation 4">
                        </div>
                        <h5>De: R$ 3.599,00</h5>
                        <h4>Por: R$ 2.699,00</h4>
                        <h6>Em até 10x de R$ 269,90</h6>
                        <button>Comprar</button> 
                    </div>
                
                    <div class="card">
                        <h3>notebook asus</h3>
                        <div class="icon">
                            <img src="assets/img/imagens/laptop-asus.png" alt="notebook">
                        </div>
                        <h5>De: R$ 3.199,00</h5>
                        <h4>Por: R$ 1.999,00</h4>
                        <h6>Em até 10x de R$ 199,90</h6>
                        <button>Comprar</button> 
                    </div>
                              
                    <div class="card">
                        <h3>headphone</h3>
                        <div class="icon">
                            <img src="assets/img/imagens/headphone-vermelho.png" alt="headphone">
                        </div>
                        <h5>De: R$ 89,90</h5>
                        <h4>Por: R$ 59,90</h4>
                        <h6>Em até 10x de R$ 5,99</h6>
                        <button>Comprar</button> 
                    </div>
                           
                    <div class="card">
                        <h3>Samsung galaxy s21</h3>
                        <div class="icon">
                            <img src="assets/img/imagens/samsung-galaxy-s21.png" alt="galaxy s21">
                        </div>
                        <h5>De: R$ 5.299,90</h5>
                        <h4>Por: R$ 3.999,00</h4>
                        <h6>Em até 10x de R$ 399,90</h6>
                        <button>Comprar</button> 
                    </div>                   -->
            </div>
        </div>
    </section>
    
    <!-- CATEGORIAS EM DESTAQUE -->
    <section class="categorias">
        <div class="categorias-destaque container">
            <div class="texto-categorias">
                <h3>Categorias em destaque</h3>
            </div>
    
            <div id="espaco-categorias" class="row">
                    
                    <div class="col">
                        <section class="card">
                            <div class="icone">
                                <a routerLink="celulares"><img src="assets/img/imagens/icone smartphone.png" alt="smartphones"></a>
                            </div>
                            <h4>Smartphones</h4>
                        </section>  
                    </div>
                    
                    <div class="col">
                        <section class="card">
                            <div class="icone">
                                <a routerLink="computadores"><img src="assets/img/imagens/icone notebook.png" alt="notebooks"></a>
                            </div>
                            <h4>Notebooks</h4>
                        </section>    
                    </div>
    
                    <div class="col">
                        <section class="card">
                            <div class="icone">
                                <a routerLink="oculosvr"><img src="assets/img/imagens/icone-oculos-vr.png" alt="óculos vr"></a>
                            </div>
                            <h4>Óculos vr</h4>
                        </section>    
                    </div>
    
                    <div class="col">
                        <section class="card">
                            <div class="icone">
                                <a routerLink="pcgamers"><img src="assets/img/imagens/icone-pcgamer.png" alt="pc gamers"></a>
                            </div>
                            <h4>pc gamers</h4>
                        </section>    
                    </div>
    
                    <div class="col">
                        <section class="card">
                            <div class="icone">
                                <a routerLink="consoles"><img src="assets/img/imagens/icone-videogame.png" alt="videogames"></a>
                            </div>
                            <h4>video games</h4>
                        </section>    
                    </div>
    
                    <div class="col">
                        <section class="card">
                            <div class="icone">
                                <a routerLink="acessorios"><img src="assets/img/imagens/icone-acessórios.png" alt="acessórios"></a>
                            </div>
                            <h4>Acessórios</h4>
                        </section>   
                    </div> 
            </div>
        </div>
    </section>
    
    <!-- GALERIA -->
    <section class="galeria">
        <div class="galeria-fotos">
            <div class="texto-galeria">
                <h3>Galeria</h3>
            </div>
            <div id="espaco-galeria" class="cards-galeria container-grid">
                <a *ngFor="let galeria of listaGaleria" href={{galeria.link}} class="itens-galeria">
                    <img src={{galeria.foto}} alt="">
                </a>


                <!-- <a href="assets/img/imagens/galeria/foto1.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto1.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto2.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto2.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto3.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto3.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto4.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto4.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto5.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto5.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto6.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto6.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto7.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto7.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto8.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto8.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto9.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto9.jpg" alt="">
                </a>
                <a href="assets/img/imagens/galeria/foto10.jpg" class="itens-galeria">
                    <img src="assets/img/imagens/galeria/foto10.jpg" alt="">
                </a>                 -->
            </div>
        </div>
    </section>

