/* RODAPÉ */

.footer {
    background-color: black;
    border-top: 1px solid white;
}

.logo-rodape {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cadastro-e-redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.receber-ofertas .card {
    align-items: left;
    border: none;
    max-width: 300px;
    max-height: 150px;
    margin-top: auto; 
    margin-bottom: auto;
    /* margin-top: 20px; 
    margin-bottom: 10px; */
}

.receber-ofertas .card h6{
    color: white;
    font-size: .9rem;   
}

.cadastro-ofertas-txt {
    width: 300px;
    height: 25px;
    margin-top: 1px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}

#botao-receber-ofertas {
    width: 100%;
    height: 25px;
    background-color: rgb(6, 23, 71);;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 300;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .4s;
}

#botao-receber-ofertas:hover {
    background-color: rgb(116, 99, 212);
}


.redes-sociais .card {
    background-color: transparent;
    align-items: center;
    border: none;
    width: 300px    ;
    max-width: 300px;
    max-height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.redes-sociais .card h6 {
    color: white;
    font-size: .9rem;
    text-align: center;
    margin-bottom: 5px;
}

.redes-sociais .icones-redes-sociais {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 20px;
}

.redes-sociais .icones-redes-sociais a:hover {
    filter: grayscale(1);
}