<footer class="footer">
    <div class="rodape">
        <!-- LOGO RODAPÉ     -->
        <div class="logo-rodape">
            <img src="assets/img/imagens/logo-game-mania.png" alt="logo do rodapé" width="120px">
        </div>

        <!-- CADASTRE E RECEBA OFERTAS -->
        <div class="cadastro-e-redes container-grid">
            <div class="receber-ofertas">
                <div class="card">
                    <h6>Cadastre-se e receba nossas ofertas!</h6>
                    <form #newsLetter="ngForm" (ngSubmit)="onSubmit()">
                        <input type="email" id="campo-email" name="email" class="cadastro-ofertas-txt" placeholder="E-mail" [(ngModel)]="newsLetterModel.email">
                        <button type="submit" id="botao-receber-ofertas">Cadastrar</button>
                    </form>
                </div>
            </div>

            <!-- REDES SOCIAIS -->
            <div class="redes-sociais">
                <div class="card">
                    <h6>Siga-nos em nossas redes sociais</h6>
                    <div class="icones-redes-sociais">
                        <a href="#"><img src="assets/img/imagens/footer/logo instagram.png" alt="Instagram" class="instagram" width="50px"></a>
                        <a href="#"><img src="assets/img/imagens/footer/logo youtube.png" alt="Youtube" class="youtube" width="50px"></a>
                        <a href="#"><img src="assets/img/imagens/footer/logo facebook.png" alt="Facebook" class="facebook" width="50px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

