<section class="cat-oculosvr">
    <div class="posicao-oculosvr">
        <div class="texto-oculosvr">
            <h3>Óculos realidade virtual</h3>
        </div>
        <div id="espaco-oculosvr" class="cards-oculosvr container-grid">
            <div class="card">
                <h3>Óculos vr shinecon</h3>
                <div class="icon">
                    <img src="assets/img/imagens/oculos-vr1.png" alt="">
                </div>
                <h5>De: R$ 499,00</h5>
                <h4>Por: R$ 299,00</h4>
                <h6>Em até 10x de R$ 29,90</h6>
                <button>Comprar</button> 
            </div>  
            <div class="card">
                <h3>Óculos vr merge 360</h3>
                <div class="icon">
                    <img src="assets/img/imagens/oculos-vr2.png" alt="">
                </div>
                <h5>De: R$ 299,00</h5>
                <h4>Por: R$ 249,00</h4>
                <h6>Em até 10x de R$ 24,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Óculos vr shinecon</h3>
                <div class="icon">
                    <img src="assets/img/imagens/oculos-vr3.png" alt="">
                </div>
                <h5>De: R$ 699,00</h5>
                <h4>Por: R$ 499,00</h4>
                <h6>Em até 10x de R$ 499,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Óculos vr celexon</h3>
                <div class="icon">
                    <img src="assets/img/imagens/oculos-vr4.png" alt="">
                </div>
                <h5>De: R$ 599,00</h5>
                <h4>Por: R$ 399,00</h4>
                <h6>Em até 10x de R$ 39,90</h6>
                <button>Comprar</button> 
            </div>                    
        </div>
    </div>
</section>
