<section class="cat-acessorios">
    <div class="posicao-acessorios">
        <div class="texto-acessorios">
            <h3>Acessórios</h3>
        </div>
        <div id="espaco-acessorios" class="cards-acessorios container-grid">
            
            <div *ngFor="let acessorio of listaAcessorios" class="card">
                <h3>{{ acessorio.texto }}</h3>
                <div class="icon">
                    <img src={{acessorio.imagem}} alt="">
                </div>
                <h5>{{ acessorio.precoDe }}</h5>
                <h4>{{ acessorio.precoPor }}</h4>
                <h6>{{ acessorio.prestacao }}</h6>
                <button>Comprar</button> 
            </div>



                <!-- <div class="card">
                    <h3>Headphone</h3>
                    <div class="icon">
                        <img src="assets/img/imagens/headphone-vermelho.png" alt="headphone">
                    </div>
                    <h5>De: R$ 89,00</h5>
                    <h4>Por: R$ 59,00</h4>
                    <h6>Em até 10x de R$ 5,90</h6>
                    <button>Comprar</button> 
                </div>  
            
                <div class="card">
                    <h3>Teclado</h3>
                    <div class="icon">
                        <img src="assets/img/imagens/teclado.png" alt="teclado">
                    </div>
                    <h5>De: R$ 299,00</h5>
                    <h4>Por: R$ 199,00</h4>
                    <h6>Em até 10x de R$ 19,90</h6>
                    <button>Comprar</button> 
                </div>           
           
                <div class="card">
                    <h3>Mouse</h3>
                    <div class="icon">
                        <img src="assets/img/imagens/mouse.png" alt="mouse">
                    </div>
                    <h5>De: R$ 49,00</h5>
                    <h4>Por: R$ 34,00</h4>
                    <h6>Em até 10x de R$ 3,40</h6>
                    <button>Comprar</button> 
                </div>           
           
                <div class="card">
                    <h3>Controle sem fio xbox</h3>
                    <div class="icon">
                        <img src="assets/img/imagens/controle sem fio xbox.png" alt="controle sem fio xbox">
                    </div>
                    <h5>De: R$ 499,00</h5>
                    <h4>Por: R$ 349,00</h4>
                    <h6>Em até 10x de R$ 34,90</h6>
                    <button>Comprar</button> 
                </div>                     -->
        </div>
    </div>
</section>
