.cat-computadores {
    background-color: rgb(169, 169, 228);
    border: 1px solid white;  
}

.texto-computadores {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.cards-computadores .card {
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1 solid;
    max-width: 250px;
    max-height: 320px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #0009;
}

.cards-computadores .card h3 {
    text-transform: uppercase;
    font-size: 15px;
}

.cards-computadores .card .icon {
    max-width: 200px;
    height: 200px;
    margin-top: -30px;
    align-items: center;
    display: flex;
}

.cards-computadores .card img{
    width: 100%;
}

.cards-computadores .card h3 {
    margin: 10px 0;
}

.cards-computadores .card h5 {
    font-weight: 100;
    font-size: 80%;
    color: rgb(224, 142, 142);
}

.cards-computadores .card h4 {
    font-size: 120%;
}

.cards-computadores .card h6 {
    margin-bottom: 10px;
    font-size: 80%;
}

.cards-computadores .card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 300;
    border-radius: 8px;
    background: rgb(37, 218, 20);
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 15px 10px 15px -12px black;
    transition: 0.2s;
}

.cards-computadores .card button:hover {
    background-color: rgb(9, 70, 9);
    font-weight: bold;
}

.cards-computadores .card:hover {
    transform: scale(1.05);
}
