<section class="cat-computadores">
    <div class="posicao-computadores">
        <div class="texto-computadores">
            <h3>Computadores</h3>
        </div>
        <div id="espaco-computadores" class="cards-computadores container-grid">
            <div class="card">
                <h3>Notebook asus</h3>
                <div class="icon">
                    <img src="assets/img/imagens/laptop-asus.png" alt="notebook asus">
                </div>
                <h5>De: R$ 3.199,00</h5>
                <h4>Por: R$ 1.999,00</h4>
                <h6>Em até 10x de R$ 199,90</h6>
                <button>Comprar</button> 
            </div>  
            <div class="card">
                <h3>Notebook lenovo</h3>
                <div class="icon">
                    <img src="assets/img/imagens/notebook lenovo.png" alt="notebook lenovo">
                </div>
                <h5>De: R$ 2.999,00</h5>
                <h4>Por: R$ 1.899,00</h4>
                <h6>Em até 10x de R$ 199,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Notebook acer</h3>
                <div class="icon">
                    <img src="assets/img/imagens/notebook acer.png" alt="notebook acer">
                </div>
                <h5>De: R$ 3.599,00</h5>
                <h4>Por: R$ 2.499,00</h4>
                <h6>Em até 10x de R$ 249,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Macbook</h3>
                <div class="icon">
                    <img src="assets/img/imagens/macbook pro.png" alt="macbook">
                </div>
                <h5>De: R$ 15.299,00</h5>
                <h4>Por: R$ 12.899,00</h4>
                <h6>Em até 10x de R$ 1.289,90</h6>
                <button>Comprar</button> 
            </div>                    
        </div>
    </div>
</section>
