<section class="cat-pcgamers">
    <div class="posicao-pcgamers">
        <div class="texto-pcgamers">
            <h3>PC gamers</h3>
        </div>
        <div id="espaco-pcgamers" class="cards-pcgamers container-grid">
            <div class="card">
                <h3>Pc gamers asus</h3>
                <div class="icon">
                    <img src="assets/img/imagens/pcgamer asus.png" alt="pc gamers asus">
                </div>
                <h5>De: R$ 3.299,00</h5>
                <h4>Por: R$ 2.699,00</h4>
                <h6>Em até 10x de R$ 269,90</h6>
                <button>Comprar</button> 
            </div>  
            <div class="card">
                <h3>Notebook acer nitro 5</h3>
                <div class="icon">
                    <img src="assets/img/imagens/notebook gamer acer nitro 5.png" alt="notebook acer nitro 5">
                </div>
                <h5>De: R$ 5.999,00</h5>
                <h4>Por: R$ 5.099,00</h4>
                <h6>Em até 10x de R$ 509,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Lenovo gaming 3i</h3>
                <div class="icon">
                    <img src="assets/img/imagens/notebook lenovo ideapad gaming 3i.png" alt="lenovo gaming 3i">
                </div>
                <h5>De: R$ 5.399,00</h5>
                <h4>Por: R$ 4.899,00</h4>
                <h6>Em até 10x de R$ 489,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Pc gamer amd fx-6100</h3>
                <div class="icon">
                    <img src="assets/img/imagens/pc gamer amd fx-6100.png" alt="pc gamer amd fx-6100">
                </div>
                <h5>De: R$ 3.999,00</h5>
                <h4>Por: R$ 2.899,00</h4>
                <h6>Em até 10x de R$ 289,90</h6>
                <button>Comprar</button> 
            </div>                    
        </div>
    </div>
</section>
