<section class="cat-celulares">
    <div class="posicao-celulares">
        <div class="texto-celulares">
            <h3>Celulares</h3>
        </div>
        <div id="espaco-celulares" class="cards-celulares container-grid">
            <div *ngFor="let celular of listaCelulares" class="card">
                <h3>{{ celular.titulo }}</h3>
                <div class="icon">
                    <img src={{celular.imagem}} alt="galaxy s21">
                </div>
                <h5>{{ celular.precoDe }}</h5>
                <h4>{{ celular.precoPor }}</h4>
                <h6>{{ celular.prestacao }}</h6>
                <button>Comprar</button> 
            </div>
            
            
            
            <!-- <div class="card">
                <h3>Samsung galaxy s21</h3>
                <div class="icon">
                    <img src="assets/img/imagens/samsung-galaxy-s21.png" alt="galaxy s21">
                </div>
                <h5>De: R$ 5.299,90</h5>
                <h4>Por: R$ 3.999,00</h4>
                <h6>Em até 10x de R$ 399,90</h6>
                <button>Comprar</button> 
            </div>  
            <div class="card">
                <h3>Iphone 12 pro max</h3>
                <div class="icon">
                    <img src="assets/img/imagens/iphone 12 pro max.png" alt="iphone 12 pro max">
                </div>
                <h5>De: R$ 9.799,00</h5>
                <h4>Por: R$ 7.999,00</h4>
                <h6>Em até 10x de R$ 799,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Galaxy z fold 2</h3>
                <div class="icon">
                    <img src="assets/img/imagens/Zfold2.png" alt="galaxy z fold 2">
                </div>
                <h5>De: R$ 9.599,00</h5>
                <h4>Por: R$ 8.199,00</h4>
                <h6>Em até 10x de R$ 819,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Motorola edge 20</h3>
                <div class="icon">
                    <img src="assets/img/imagens/motorola-edge-20.png" alt="motorola edge 20">
                </div>
                <h5>De: R$ 3.899,90</h5>
                <h4>Por: R$ 2.999,00</h4>
                <h6>Em até 10x de R$ 299,90</h6>
                <button>Comprar</button> 
            </div>                     -->
        </div>
    </div>
</section>
