<section class="cat-melhoresjogos">
    <div class="posicao-melhoresjogos">
        <div class="texto-melhoresjogos">
            <h3>Jogos</h3>
        </div>
        <div id="espaco-melhoresjogos" class="cards-melhoresjogos container-grid">
            <div *ngFor="let jogo of listaJogos" class="card">
                <h3>{{ jogo.titulo }}</h3>
                <div class="icon">
                    <img src={{jogo.imagem}} alt="fifa 2021">
                </div>
                <h5>{{ jogo.precoDe }}</h5>
                <h4>{{ jogo.precoPor }}</h4>
                <h6>{{ jogo.prestacao }}</h6>
                <button>Comprar</button> 
            </div>

            <!-- <div class="card">
                <h3>Fifa 21</h3>
                <div class="icon">
                    <img src="assets/img/imagens/jogos/f1 2021 xbox.png" alt="fifa 2021">
                </div>
                <h5>De: R$ 199,00</h5>
                <h4>Por: R$ 149,00</h4>
                <h6>Em até 10x de R$ 14,90</h6>
                <button>Comprar</button> 
            </div>  
            <div class="card">
                <h3>Fifa 22</h3>
                <div class="icon">
                    <img src="assets/img/imagens/jogos/fifa2022.png" alt="fifa 22">
                </div>
                <h5>De: R$ 299,00</h5>
                <h4>Por: R$ 209,00</h4>
                <h6>Em até 10x de R$ 20,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Immortals fenyx rising</h3>
                <div class="icon">
                    <img src="assets/img/imagens/jogos/immortal_fenyx.png" alt="jogo immortals fexys rising">
                </div>
                <h5>De: R$ 149,00</h5>
                <h4>Por: R$ 99,00</h4>
                <h6>Em até 10x de R$ 9,90</h6>
                <button>Comprar</button> 
            </div>           
            <div class="card">
                <h3>Mortal kombat</h3>
                <div class="icon">
                    <img src="assets/img/imagens/jogos/mortal_kombat.png" alt="jogo mortal kombat">
                </div>
                <h5>De: R$ 249,00</h5>
                <h4>Por: R$ 129,00</h4>
                <h6>Em até 10x de R$ 12,90</h6>
                <button>Comprar</button> 
            </div>                     -->
        </div>
    </div>
</section>
